{{extend 'layout.html'}}
<style>
    .table-overflow {
        max-height: 80px;
        overflow-x: auto;
    }
</style>


{{=A('Eleições', _href=URL('default', 'eleicoes'), _class='btn btn-secondary')}}

<h2>
    Administrar Eleição
</h2>


{{if 'form' in locals():}}
{{=form.custom.begin}}
<div>Eleição: {{=form.custom.widget.nome}}</div>
<div>Entidade: {{=form.custom.widget.entidade}}</div>
<div>Inicio do Alistamento: {{=form.custom.widget.inicio_alistamento}}</div>
<div>Fim do Alistamento: {{=form.custom.widget.fim_alistamento}}</div>
<div>Inicio da Eleição:{{=form.custom.widget.inicio_eleicao}}</div>
<div>Fim da Eleição:{{=form.custom.widget.fim_eleicao}}</div>
<div>Edital:{{form.custom.widget.edital}}</div>
Documentos:<div  style="border-style: solid; border-color:  grey;  padding: 5px;">
    <table>
        <div> {{=form.custom.widget.obrigatorio}}
        </div>
    </table>
</div>
{{=form.custom.submit}}
{{=form.custom.end}}
</br>

{{pass}}
{{if 'form2' in locals():}}
</br>
<h2>Administradores</h2>
{{=form2}}
{{pass}}