{{extend 'layout.html'}}

<h1>
    Habilitar Inscrição para {{=nome_eleicao}}
</h1>

{{=A('Voltar', _href=URL('default', 'index'), _class='btn btn-secondary')}}

{{if 'incrito' in locals():}}
{{=A('Candidatar-se', _href=URL('default', 'candidatar', args=[esta_eleicao]),
_class='btn btn-secondary')}}
{{pass}}

{{if 'auth' in session:}}
{{=A('Documentos', _href=URL('default', 'eleitor_docs', args=esta_eleicao), _class='btn btn-primary')}}
{{pass}}

<div div class="table" style="font-size: 115%; ">
    <table align='center' style="border:1; width: 70%">
        <td>
            <div class="card" style='padding: 15px;'>
                <h2>Dados do Usuário</h2>
                {{=form_usuario.custom.begin}}
                {{=form_usuario.custom.widget.id}}
                Nome completo: {{=form_usuario.custom.widget.first_name}}
                Nome Social {{=form_usuario.custom.widget.last_name}}
                Email: {{=form_usuario.custom.widget.email}}
                CPF: {{=form_usuario.custom.widget.username}}
                Documento de Identidade: {{=form_usuario.custom.widget.identidade}}
                Entidade: {{=form_usuario.custom.widget.entidade}}
                {{#=db.auth_user.entidade.comment}}
                {{=A('Cadastrar', _class='btn btn-primary', _type="submit",
                _href=URL(c='default', f='cadastra_entidade', vars={'form_vars' :request.vars, 'esta_eleicao': esta_eleicao}))}}
                <br>
                Município: {{=form_usuario.custom.widget.municipio}}
                Nome da Mãe: {{=form_usuario.custom.widget.mothers_name}}
                Gênero {{=form_usuario.custom.widget.gênero}}
                Cor: {{=form_usuario.custom.widget.cor}}
                Arquivo do documento de identidade: {{=form_usuario.custom.widget.arquivo_identidade}}
                Escolaridade: {{=form_usuario.custom.widget.escolaridade}}
                Data de Nascimento: {{=form_usuario.custom.widget.data_nascimento}}
                Senha: {{=form_usuario.custom.widget.password}}
                Confirme a Senha: {{=form_usuario.custom.widget.password_two}}
                 {{#=form_usuario.custom.widget.registration_key}}
                 {{#=form_usuario.custom.widget.reset_password_key}}
                 {{#=form_usuario.custom.widget.registration_id}}

                {{=form_usuario.custom.submit}}
                {{=form_usuario.custom.end}}

            </div>
        </td>
    </table>