{{extend 'layout.html'}}
{{block head}}
{{super}}
{{end}}


<style>
  body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
    font-size: .8em;
  }

  table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }

  tr td {
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }

  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }

  table th,
  table td {
    padding: .125em;
    text-align: center;
  }

  table th {
    font-size: .75em;
    letter-spacing: .1em;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-transform: uppercase;
  }

  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }

    table caption {
      font-size: 1.3em;
    }

    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 1;
      position: absolute;
      width: 1px;
    }

    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }

    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }

    table td::before {
      /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;

    }

    table td:last-child {
      border-bottom: 0;
    }
  }
</style>
<h2>
  {{='Avaliação de Eleitores para a Eleição {}'.format(nome_eleicao)}}
</h2>
{{=A('Voltar', _href=URL('default', 'eleicoes'), _class='btn btn-secondary')}}
{{if not eleitores_p_avaliar.select().first():}}
<div align="center">
  <h1>Não há Eleitores registrados para esta Eleição </h1>
</div>
{{else:}}


{{if 'form_motivos' in locals():}}
{{=form_motivos }}
{{pass}}

{{=DIV(grid_eleitor, _id="grid_candidatos_bt", _align="center") }}
{{pass}}


{{#=response.toolbar()}}