{{extend 'layout.html'}}
<style>
  body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
  }

  table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }

  tr td {
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }

  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }

  table th,
  table td {
    padding: .625em;
    text-align: center;
  }

  table th {
    font-size: .85em;
    letter-spacing: .1em;
    white-space: pre-wrap;
    text-transform: uppercase;
  }

  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }

    table caption {
      font-size: 1.3em;
    }

    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 1;
      position: absolute;
      width: 1px;
    }

    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }

    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }

    table td::before {
      /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;

    }

    table td:last-child {
      border-bottom: 0;
    }
  }
</style>

<script>
  $('.btn btn-primary active').click(function () {
    if (confirm("Confirmar alteração de status?")) {
      e.preventDefault();
      e.stopPropagation();
    }
  })
</script>


<h2>
  {{='Avaliação de Documentos do Eleitor:'}}</br>
  {{='{}'.format(representa_eleitor(eleitor_doc)['first_name'])}}
</h2>

{{=A('Voltar', _href=URL('default', 'avaliar' , args=[esta_eleicao]), _class='btn btn-secondary')}}

{{if not eleitor_c_docs_p_avaliar.select().first()\
and not eleitor_c_docs_aprovados.select().first()\
and not eleitor_c_docs_reprovado.select().first():}}
<div align="center">
  <h1>Não há Documentos registrados por este Eleitor </h1>
</div>
{{pass}}

{{if request.vars.doc:}}
{{=form_doc}}
{{pass}}

{{if eleitor_c_docs_p_avaliar.select().first():}}
<h3>Documentos Aguardando Avaliação </h3>
{{=form}}
{{pass}}

{{if eleitor_c_docs_aprovados.select().first():}}
<h3>Documentos Aprovados</h3>
{{=form2}}
{{pass}}

{{if eleitor_c_docs_reprovado.select().first():}}
<h3>Documentos Reprovados</h3>

{{=form3}}
{{pass}}


{{#=response.toolbar()}}