{{extend 'layout.html'}}
<h1>
    Cadastro de Entidade.
</h1>

{{=A('Voltar', _href=URL('default', 'alistar', args=esta_eleicao), _class='btn btn-secondary')}}


<div  class="card">
{{=H3('Entidade')}}
{{=form_create.custom.begin}}
{{=form_create.custom.widget.id}}
Orgão: {{=form_create.custom.widget.nome}}
CNPJ: {{=form_create.custom.widget.cnpj}}
Comprovante de Endereco: {{=form_create.custom.widget.comprovante_endereco}}<br>
Data de Criação: {{=form_create.custom.widget.data_criacao_entidade}}
Carta de Apresentação: {{=form_create.custom.widget.carta_apresentacao}}
Segmento de Atuação: {{=form_create.custom.widget.segmento_atuacao}}
Município: {{=form_create.custom.widget.municipio}}
Representante Legal: {{=form_create.custom.widget.representante_legal}}
</div>
           <div class="row" align="center">
                <div class="wrapper" align="center">

                    <ul class="list-unstyled components" align="center">
                        <div class="sidebar-header" align="center">
                            <li class="act">
                                <a class="btn btn-primary dropdown-toggle" type="button" href="#Salvar_bt"
                                    data-toggle="collapse" aria-expanded="false" align="center">
                                    {{='Termos'}}
                                </a><span class="caret"></span>
                            </li>
                            <div id="Salvar_bt" class="collapse list-unstyled" align="center">
                                <br>

                                <div style="text-align: inherit;">

                                    <strong>
                
                                        {{=DIV( LEGEND(declaracao(),form_create.custom.widget.concordancia,_id='declara'), _class="card-text",
                                        _style="width: 50%; text-align: justify")}}</strong>

                                </div>
                                {{=form_create.custom.submit}}
                                {{=form_create.custom.end}}
                            </div>


                        </div>
                    </ul>
                </div>
            </div>