{{extend 'layout.html'}}

{{=A('Voltar', _href=URL('default', 'eleicoes'), _class='btn btn-secondary')}}

<h2>
	ENTIDADE CANDIDATA
</h2>

{{if response.aviso:}}
<div class="jumbotron jumbotron-fluid">
	{{=XML(response.aviso)}}
</div>
{{pass}}




<div div class="table" style="font-size: 115%">
	<table align='center' style="border:1">
		<td>
			<div class="card" style='padding: 15px;'>
				<h2>Dados do Candidato</h2>
				{{if 'form' in locals():}}
				<div class="card" style="font-size: smaller;">
					{{=IMG(_src=URL('download', args=foto ), _width="200px",
					_alt="Registre uma foto de rosto no campo apropriado")}}
				</div>
				{{=form}}
				{{pass}}
			</div>
		</td>
		<td>
			{{if docs_req:}}
			{{if docs_req.get('documentos_requeridos') !='||':}}
			<div class="card" align='left' style='padding:15px;     '>
				<h2 class="card-text">Documentos Requeridos para Candidatura</h2>
				<div style='margin-left:25px'>
					<table style='border-color: black;'>
						<thead>
							<th>Documento</th>
							<th>Estado</th>
						</thead>
						<tbody>
							<td>
								{{for doc in docs_req.documentos_requeridos.split('|') :}}
								{{ if doc!= '':}}
								{{if doc in docs_registrados:}}
								{{=TR(doc , SPAN('Registrado' , _class="badge badge-success", _style="color:blue; "),
								_style="border-color: black;")}}
								{{else:}}
								{{=TR(doc, SPAN('*',_class="", _style="color:red;") )}}
								{{pass}}
								{{pass}}
								{{pass}}
								{{pass}}
							</td>
						</tbody>
					</table>
				</div>
			</div>
			{{pass}}




			{{if 'form2' in locals() :}}
			<h2>Insira os documentos requeridos</h2>
			{{=form2}}
			{{pass}}


			{{#=response.toolbar()}}