{{if len(session.relatorio if 'relatorio' in session else [])>0:}}
<div class="alert alert-danger">
<ul>
    {{for r in session.relatorio:}}
    <li><a href="{{=URL('habilitar_eleitor', 'index', vars=dict(eleicao=r.eleicao))}}">{{=XML(r.message)}}</a></li>
    {{pass}}
</ul>
</div>
{{pass}}