{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}
<style>
    #projeto_edital {
        width: 350px;
    }

</style>

{{=menu_inteligente(entidade_id)}}
{{if request.args(0):}}
<h3 class="mt-3">Entidade da eleição: {{=db.entidade(entidade_id).nome}}</h3>

{{else:}}
<h3 class="mt-3">Escolha ou cadastre uma entidade:</h3>

<h5>a) Escolha</h5>  
    {{for entidade in entidades:}}
        <a href="{{=URL(f='dados_entidade',args=[entidade.id])}}">{{=entidade.nome.upper()}}</a><br>
    {{pass}}

    <hr>
{{pass}}

{{if not request.args(0):}}

<h5>b) Cadastre uma Entidade </h5>
{{pass}}

{{=form}}