{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}
<style>
    #projeto_edital {
        width: 350px;
    }

</style>

{{=menu_inteligente(entidade_id)}}

<h3 class="mt-3">Entidade da eleição: {{=db.entidade(entidade_id).nome}}</h3>



<h5>Dados da eleição</h5>

{{=form}}