{{extend 'layout.html'}}
{{block head}}
<link rel="stylesheet" href="{{=URL('static', 'css/eleicoes.css')}}" />
{{end}}

{{=filtro}}

{{for eleicao in eleicoes:}}
{{periodo=check_periodo(eleicao)}}
{{alistado=check_eleitor(eleicao.id,auth.user_id)}}
{{candidatado=check_candidato(eleicao.id,auth.user_id)}}
{{apto_a_votar=check_apto_a_votar(eleicao.id,auth.user_id)}}
{{situacao=situacao_votar(periodo, eleicao, alistado)}}
{{situacao_cand=situacao_candidaturas(periodo, eleicao, candidatado)}}
<div class="row">

  <div class="col"><strong>Processo Eleitoral:</strong> <br>{{=eleicao.nome}}</div>
  <div class="col"><strong>Periodo de Habilitação:</strong><br> {{=make_datatime(eleicao.inicio_alistamento)}} a
    {{=make_datatime(eleicao.fim_alistamento)}}</div>
  <div class="col"><strong>Período de Habilitação:</strong> <br>{{=make_datatime(eleicao.inicio_eleicao)}} a
    {{=make_datatime(eleicao.fim_eleicao)}}</div>
  <div class="col"><strong>Entidade Eleitora: </strong><br>{{=situacao}}</div>
  <div class="col"><strong>Entidade Canditata: </strong><br>{{=situacao_cand}}</div>
  <div class="col"><strong>Edital: </strong><br>{{=A('Edital', _href=URL(f='download', args=[eleicao.edital]),
    _class="btn btn-info") if eleicao.edital else ''}}</div>
  {{if auth.has_membership('eleicao_{}'.format(eleicao.id)):}}
  <div class="col"><strong>Habilitação:</strong><br>

    {{=DIV(A('Eleitores', _href=URL(f='avaliar', args=[eleicao.id]), _class="btn btn-info"), _align="center") }}
    {{=participacao(eleicao.id)}}
    {{=DIV(A('Candidatos', _href=URL(f='avaliar_candidatos', args=[eleicao.id]), _class="btn btn-info"),
    _align="center") }}
  </div>
  {{pass}}
</div>

<br>
<br>



{{pass}}