{{extend 'layout.html'}}
<h1>
    Habilitar Inscrição para {{=nome_eleicao}}
</h1>
{{=A('Voltar', _href=URL('default', 'alistar', args=esta_eleicao), _class='btn btn-secondary')}}
{{=A('Próximo', _href=URL('default', 'inscreve_eleitor.load', args=esta_eleicao, vars={'esta_eleicao':esta_eleicao,
'docs_registrados':docs_registrados,
'docs_obrigatorios': docs_obrigatorios.first().obrigatorio,
'nome_eleicao':nome_eleicao,
#'nome_eleitor':nome_eleitor,
}), _class='btn btn-primary')}}


<h2>Documentos Requeridos</h2>
                    <div style='margin-left:35px'>
                        <h3>Insira os Documentos Requeridos </h3>
                        <h4>para inscrever-se na eleição</h4>
                        {{=form_documentos}}
                    </div>
        <!-- <div class="card" align='left' style='padding:15px;'>
            <h2 class="card-text">Documentos Requeridos para Eleição</h2>
            <div style='margin-left:25px'>
                <table style='border-color: black;'>
                    <thead>
                        <th>Documento</th>
                        <th>Estado</th>
                    </thead>
                    <tbody>
                        <td>
                            {{#for doc in docs_obrigatorios.first().obrigatorio:}}
                                {{#if doc in docs_registrados:}}
                                    {{#if docs_status.records[docs_obrigatorios.first().obrigatorio.index(doc)]['_extra'].status == 'Aprovado':}}
                                        {{#=TR(doc , SPAN('Aprovado' , _class="badge badge-success", _style="color:blue; "),
                                        #_style="border-color: black;")}}

                                    {{#elif docs_status.records[docs_obrigatorios.first().obrigatorio.index(doc)]['_extra'].status == 'Aguardando Aprovação':}}
                                        {{#=TR(doc , SPAN('Aprovação pendente' , _class="badge badge-secondary", _style="color:blue; "),_style="border-color: black;")}}
                                    {{#else:}}
                                        {{#pass}}
                                
                                {{#else:}}
                                        {{#=TR(doc, SPAN('*',_class="", _style="color:red;") )}}
                                    {{#pass}}
                            {{#pass}}
                        </td>
                    </tbody>
                </table>
            </div>
        </div> -->
        <div class="card" align='left' style='padding:15px;'>
            <h4>Documentos Inseridos</h4>
            {{=form_docs_reg}}
        </div>