{{extend 'layout.html'}}

{{=A('Voltar', _href=URL('default', 'avaliar',args=[esta_eleicao]), _class='btn btn-secondary')}}

<h2>
Habilitar Eleitor para os Cargos    
</h2>



    <span class="font-weight-bold"> Eleitor: </span> <div>{{=eleitor_nome}}</div>
    <span class="font-weight-bold"> Cargos:  </span>
    <form method="post">
          <table>
    {{for cargo in cargos_eleicao.select():


        row = db((db.habilitacao.eleitor == int(request.vars.eleitor))
            & (db.habilitacao.cargo== cargo.id)).select().first()
        db.commit()

    }}
    <tr><td>{{=cargo.nome}} </td><td><input type="checkbox" name="cargos" value="{{=cargo.id}}" {{='checked' if row else '' }}> </td><td>
        {{=A('x',_href=URL(f='desabilitar_eleitor_cargo',args=[row.id, esta_eleicao])) if row else ''}} </td></tr>





    {{pass}}
    </table>
    <br>
    <input type="submit" value="Enviar" class="btn btn-primary">
</form>
{{pass}}
