{{extend 'layout.html'}}
<link rel="stylesheet" href="{{=URL('static','css/table.css')}}" />

{{block header}}
<div class="jumbotron jumbotron-fluid background"
  style="background-color: #333; color:white; padding:30px;word-wrap:break-word;">
  <div class="container center">
    <h1 class="display-5"> Eleições Virtuais da SEDESE</h1>
  </div>
  {{=LOAD('default','check_usuario')}}
</div>
{{end}}
{{if not auth.user_id:}}
<div class="row">
  <div class="col-md-12">

    <h2>Bem vindo</h2>
    <!-- <span class="btn btn-primary"> <a href=" {{=URL(f='user/login' )}}" style="color:white"> ENTRAR NO SISTEMA</a>  </span> ou
    <span class="btn btn-primary" > <a href=" {{=URL(f='user/register' )}}" style="color:white"> Cadastrar-se</a> </span>
  
      -->
    <li>Você pode pleitear votar e\ou ser candidato, desde que cumpra os requisitos e apresente os documentos necessários
      para o Órgão Colegiado específico</li>
    <li>Qualquer usuário logado poderá ter acesso ao resultado das eleições</li>
    
    </ol>
    <hr>
  </div>
</div>
{{else:}}
{{pass}}


<h2>Processos Eleitorais em Andamento</h2>
{{for eleicao in eleicoes:}}
{{periodo=check_periodo(eleicao)}}
{{alistado=check_eleitor(eleicao.id,auth.user_id)}}
{{situacao=situacao_votar(periodo, eleicao, alistado)}}
{{pass}}
<div class="conteiner" align='center'>
  <table>
    <thead>
      <tr>
        <th scope="col">Órgão Colegiado</th>
        <!-- <th scope="col">Segmento</th>
        <th scope="col">Municipio</th> -->
        <th scope="col">Eleições</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {{for entidade in entidades:}}
        <table>
          <td data-label="Entidade">{{=entidade['entidade'].nome}}</td>
          <!-- <td data-label="Segmento">{{=entidade['entidade'].segmento_atuacao}}</td>
          <td data-label="Municipio">{{=entidade['municipio'].nome}}</td> -->
          <td> <input type="button" onclick="jQuery('{{='.id_'+str(entidade['entidade'].id)}}').slideToggle()"
              value="ELEIÇÕES" style="background-color: #04AA6D;color:white;padding:10px;letter-spacing: 2px;font-weight: 600;"> </td>
          <div class="row" align='center'>
            {{=XML(DIV(TABLE(THEAD(TR(
            TH(('Processo Eleitoral')),
            TH(('Edital')),
            TH(('Período de Habilitação')),
            TH(('Período de Votação')),
            TH(('Situação')),
            )),_class='id_'+str(entidade['entidade'].id), _style="display:none;" )))}}

            {{=TABLE(*[TR( eleicao.nome, A('Edital', _href=URL(f='download', args=[eleicao.edital]) ) if eleicao.edital else 'Não inserido',
            make_datatime(eleicao.inicio_alistamento) + ' a ' +
            make_datatime(eleicao.fim_alistamento),
            make_datatime(eleicao.inicio_eleicao) + ' a ' +
            make_datatime(eleicao.fim_eleicao),
            situacao_votar(check_periodo(eleicao),
            eleicao,
            check_eleitor(eleicao.id,auth.user_id)))
            for eleicao in eleicoes if
            eleicao.entidade == entidade['entidade'].id], _class='id_'+str(entidade['entidade'].id),
            _style="display:none;")}}
          </div>
        </table>
        {{pass}}
      </tr>
    </tbody>
  </table>
</div>
<br />
<!-- {{=entidades_encerradas}} -->
{{if len(encerradas) > 0: }}

<h2>Processos Eleitorais Encerrados </h2>
{{for eleicao in encerradas:}}
{{periodo=check_periodo(eleicao)}}
{{alistado=check_eleitor(eleicao.id,auth.user_id)}}
{{situacao=situacao_votar(periodo, eleicao, alistado)}}
{{pass}}
<div class="conteiner" align='center'>
  <table>
    <thead>
      <tr>
        <th scope="col">Órgão Colegiado</th>
        <!-- <th scope="col">Segmento</th>
        <th scope="col">Municipio</th> -->
        <th scope="col">Eleições</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {{if len(entidades_encerradas)> 0:}}
        {{for entidade in entidades_encerradas:}}
        <table>
          <td data-label="Entidade">{{=entidade['entidade'].nome}}</td>
          <!-- <td data-label="Segmento">{{=entidade['entidade'].segmento_atuacao}}</td>
          <td data-label="Municipio">{{=entidade['municipio'].nome}}</td> -->
          <td> <input type="button" onclick="jQuery('{{='.id_'+str(entidade['entidade'].id)}}').slideToggle()"
              value="Eleições"> </td>
          <div class="row" align='center'>
            {{=XML(DIV(TABLE(THEAD(TR(
            TH(('Processo Eleitoral')),
            TH(('Edital')),
            TH(('Período de Habilitação')),
            TH(('Data Eleição')),
            TH(('Situação')),
            )),_class='id_'+str(entidade['entidade'].id), _style="display:none;" )))}}

            {{=TABLE(*[TR( eleicao.nome, A('Edital', _href=URL(f='download', args=[eleicao.edital]) ) if eleicao.edital else 'Não inserido',
            make_datatime(eleicao.inicio_alistamento) + ' a ' +
            make_datatime(eleicao.fim_alistamento),eleicao.inicio_eleicao, situacao_votar(check_periodo(eleicao),
            eleicao,
            check_eleitor(eleicao.id,auth.user_id)))
            for eleicao in encerradas if
            eleicao.entidade == entidade['entidade'].id], _class='id_'+str(entidade['entidade'].id),
            _style="display:none;")}}
          </div>
        </table>
        {{pass}}
        {{pass}}
      </tr>
    </tbody>
  </table>
</div>
<br />
{{pass}}

<hr>
<h5>
  <!-- Orientações de uso em Libras
</h5>
<video width="320" height="240" controls>
  <source src="{{=URL(c='static',f='libras.mp4')}}" type="video/mp4">
  Your browser does not support the video tag.
</video>

<hr>
<h5>
  Orientações de uso com audio
</h5>
<video width="320" height="240" controls>
  <source src="{{=URL(c='static',f='tutorial.mp4')}}" type="video/mp4">
  Your browser does not support the video tag.
</video> -->

</div>
</div>