{{extend 'layout.html'}}

<style>
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
  font-size: .8em;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}
 tr td{
    white-space: pre-wrap;
    word-wrap: break-word;
}
table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .15em;
  text-align: center;
}

table th {
  font-size: .75em;
  letter-spacing: .1em;
  white-space: pre-wrap;
  word-wrap: break-word;  
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 1;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}    
</style>
<h2>
{{='Candidatos a Eleição {}'.format(nome_eleicao)}}    
</h2>

{{=BR()*2}}
{{=XML(DIV(TABLE(THEAD(TR( 
TH(('Cargo')),
TH(('Nome')),
TH(('Data de Nascimento')),
TH(('Escolaridade')),
TH(('Propostas')),
TH(('Perfil')),
TH(('Foto'))
)))))}}

{{for row in lst_grids:}}

{{=XML(DIV(TABLE(TR( 
TD(row['cargo'].nome),
TD(row['auth_user'].first_name),
TD(row['auth_user'].data_nascimento),
TD(row['auth_user'].escolaridade),
TD(row['candidato'].propostas),
TD(row['candidato'].perfil),
TD(IMG(_src=URL('download',args=row['candidato'].foto), _width="20%")),
))))}}
{{pass}}

{{#=response.toolbar()}}
