{{extend 'layout.html'}}

{{=A('Eleições', _href=URL('default', 'eleicoes'), _class='btn btn-secondary')}}

  <div class="container center">
    <h1 class="display-5">{{=request.function.capitalize().replace('_',' ').title()}}</h1>
  </div>

<h2>Registrar Documento</h2>
<div class="alert alert-warning">
  <p><strong>Dica!</strong>
    <ul>
      <li>Apenas cadastre documentos que não existem.</li>
      <li>Evite usar documentos compostos como: CPF e RG.</li>
    </ul>
  </p>
</div>
{{if 'form_doc' in locals():}}
{{=form_doc}}
{{pass}}

{{if 'grid' in locals():}}

<h2>Documentos Registrados</h2>
{{=grid}}
{{pass}}