{{extend 'layout.html'}}


<style>
    .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td
    {
    padding: 2px 8px;
    }
    card-icon.{
      height: 50px;
    }

</style>

{{block navbar_brand}}
<h2 style="margin-top: 20px;"> Usuarios</h2>

{{end}}





<div id="corridas"></div>


<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Lista de Usuários </h4>
            <p class="card-category">Gerencie os seus usuários</p>
          </div>
          <div class="card-body">
            {{=form}}
          </div>
        </div>
      </div>
      </div>

<footer class="footer">
  <div class="container-fluid">
    <nav class="float-left">
      <ul>
        <li>
          <a href="{{=URL(c='default',f='index')}}">
            SEDESE
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright float-right">
      &copy;
      <script>
        document.write(new Date().getFullYear())
      </script>, made with <i class="material-icons">favorite</i> by
      <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
    </div>
  </div>
</footer>
</div>
</div>

</div>



