{{extend 'layout.html'}}




    {{if habilitado:}}

        <div  width='650px'>
            <h1 class="text-center btn-primary">VOTE EM SEU CANDIDATO CLICANDO NO NOME ABAIXO</h1>
            <h2 class="text-center">{{=cargo.nome}}</h2>

        <div>
            <div class="container center">
            {{ if eleicao.tipo_candidato == 'entidade':}}
                {{for cargo in candidatos_ao_cargo:}}
                <div class="row text-center mb-2">
                
                <div class="col-12 btn btn-primary"> <a href="{{=URL('default', 'voto', vars={
                    'candidato_id': cargo.candidato.id, 'esta_eleicao': esta_eleicao, 'cargo_id':cargo.candidato.cargo})}}" 
                    onclick="return confirm('Você Confirma seu voto em {{=cargo.entidade.nome.upper()}}?')" style="color:white" >{{=cargo.entidade.nome.upper()}}</a>
                    </div>
                </div>
                {{pass}}
            {{else:}}
             
            {{pass}}
        </div>
        
        </div>
        </div>

    {{else:}}

        <div  align="center" width='650px'>
            <h3>ELEITOR NÃO HABILITADO A VOTAR NESTE CARGO.</h3>
        </div>

    {{pass}}
    <br>
* Entidades organizadas por ordem alfabética

</div>
  