<!DOCTYPE html>
<html class="no-js" lang="{{='pt-br'}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{=response.title or request.application}}</title>
    <meta name="application-name" content="{{=request.application}}">
    <meta name="google-site-verification" content="">
    <!-- include stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="{{=URL('static','css/bootstrap.min.css')}}" />
    <link rel="stylesheet" href="{{=URL('static','css/web2py-bootstrap4.css')}}" />
    <!-- All JavaScript at the bottom, except for Modernizr which enables
            HTML5 elements & feature detects -->
    <script src="{{=URL('static','js/modernizr-2.8.3.min.js')}}"></script>
  </head>
    <body>
      <div class="card" style="background-color: rgb(10, 70, 250); color:white; padding:20px;word-wrap:break-word;">
        <div class="card-body" align="center" style="width: 50rem;">
          <h1 class="card-title" > Eleições Virtuais da SEDESE</h1>  <br><br>
                <table class="card-text">
                  {{=XML(msg)}}
                </table>
        </div>
      </div>    
    </body>
<footer class="card-footer">
  <div class="container center" align="center" style="background-color: rgb(32, 32, 32); color:white; padding:20px;word-wrap:break-word;">
    <a href="{{=URL('index', scheme='https', host=True)}}">Clique para ir até Eleições Virtuais</a>
    <h3 class="display-3" > Contato: {{=mail.settings.sender}}</h3>
  </div>
</div>


</html>