{{extend 'layout.html'}}
{{include 'habilitar_eleitor/header.html'}}
{{include 'habilitar_eleitor/crumbs.html'}}

<div class="container">
    <div class="alert alert-warning">
        {{if eleicao.tipo_eleitor == 'entidade' or eleicao.tipo_candidato == 'entidade':}}
               
            {{ if eleicao.tipo_eleitor == 'entidade' and eleicao.tipo_candidato == 'entidade': }}
            <p>Nessa eleição, somente entidades podem votar ou ser candidatas</p>
            {{elif eleicao.tipo_eleitor == 'entidade':}}
            <p>Nessa eleição, somente entidades podem votar</p>
            
            {{elif  eleicao.tipo_candidato == 'entidade': }}
                <p>Nessa eleição, somente entidades podem ser candidatas</p>
                
            {{pass}}     
        {{pass}}

        {{if eleicao.segmentos and eleicao.segmentos == 1 and eleicao.segmentos_candidatura == 1:}}
            Selecione o segmento de atuação para o qual deseja votar ou candidatar-se
        {{elif eleicao.segmentos and (eleicao.segmentos > 1 or eleicao.segmentos_candidatura > 1):}}
            Selecione os segmentos de atuação para o qual deseja votar ou candidatar-se
        {{elif not eleicao.segmentos and eleicao.segmentos_candidatura > 1:}}
            Selecione se deseja votar nessa eleição ou escolha os segmento para candidatar-se
        {{else:}}
            Selecione se deseja votar nessa eleição ou escolha um segmento para candidatar-se
        {{pass}}

        {{if eleicao.segmentos:}}
            <p>Nessa eleicao você pode votar em {{=eleicao.segmentos}} segmento(s)</p>
        {{else:}}
            <p>Nessa eleicao você pode votar em todos os segmentos</p>
        {{pass}}
        {{if eleicao.segmentos_candidatura:}}
            <p>Nessa eleicao você pode se candidatar em {{=eleicao.segmentos_candidatura}} segmento(s)</p>
        {{else:}}
            <p>Nessa eleicao você pode candidatar em todos os segmentos</p>
        {{pass}}
    </div>
    {{
        query = db.entidade.representante_legal==auth.user_id
        entidades = db(query).select()   
        
        
        
    }}
    {{if entidade:}}

        <p>Entidade: {{=entidade.nome.upper()}}</p>  
    

    {{elif eleicao.tipo_eleitor == 'entidade' or eleicao.tipo_candidato == 'entidade':}}
        <div class="card">
            <form action="{{=URL(f='cargos')}}" method="get">
                <input type="hidden" name="eleicao" value="{{=eleicao.id}}">
                <div class="card card-header">
                    Você pretende representar qual entidade nesta eleição?
                </div>
                <div class="card-body">
        
                    <select name="entidade_representada">
                        <option value=""></option>
                        {{for e in entidades:}}
                        <option value="{{=e.id}}">{{=e.nome}}</option>
                        {{pass}}
                    </select>
                    <button value="Escolher">Escolher</button>
                </div>
            </form>
        </div>
        <p>Sua entidade não está listada? <a class="btn btn-primary" href="{{=URL('habilitar_eleitor', 'form_entidade')}}"
                data-w2p_disabe_with="default" data-w2p_target="entidades" data-w2p_method="POST">
                <strong>CADASTRAR ENTIDADE</strong> </a></p>
        <br>
        
    {{pass}}
    <div id="entidades">
        
        
    </div>

    {{if (eleicao.tipo_eleitor == 'entidade' and entidade_id >0) or eleicao.tipo_eleitor == 'usuario' :}}
    <div id="cargos" class="form-group">
        <form name="habilitacao" action="{{=URL(f='cargos')}}" method="post">
            <input type="hidden" name="eleicao" value="{{=eleicao.id}}">
            <input type="hidden" name="segmentos" id="segmentos" value="{{=eleicao.segmentos}}">
            <input type="hidden" name="entidade_representada" value="{{=entidade_id}}">
            <div class="list-group">
                {{for l in lista:}}
                {{ h = habilitacao(l) }}
                <div class="list-group-item">
                    <h4> {{=l.nome}} </h4>
    
    
    
    
                    <p>{{=l.atribuicoes or ""}}</p>
                    <p>
                        <input type="checkbox" id="eleitor_{{=l.id}}" class="eleitor" name="eleitor[{{=l.id}}]"
                            value="{{=l.id}}" {{ if h: }} checked {{pass}} onclick="checkBoxLimitEleitor(this);">
                        {{if h:}} {{=status_habilitacao[h.status] }} {{else:}}Habilitar para Votar{{pass}}</a> |
    
                        {{if (eleicao.tipo_candidato == 'entidade' and entidade_id > 0) or eleicao.tipo_candidato == 'usuario' :}}
                        {{candidato = candidatado(l)}}
                        <input type="checkbox" class="candidato" name="candidato[{{=l.id}}]" value="{{=l.id}}" {{ if candidato: }} checked {{pass}} onclick="checkBoxLimitCandidato(this);">
                        {{if candidato:}} {{=status_candidatura[candidato.status] }} {{else:}}Candidatar-se{{pass}}</a>
                        {{pass}}
                    </p>
                </div>
                {{pass}}
                <button class="btn btn-primary" id="selecionar" disabled>Salvar Seleção</button>
            </div>
        </form>
    </div>
    {{pass}}    
    {{if habilitacoes:}}
    <div class="form-group">
        <a href="{{=URL(c='habilitar_eleitor', f='documentos',vars=dict(eleicao=eleicao.id, entidade_representada = entidade.id if entidade else None))}}" id="btn-prosseguir" class="btn btn-primary">Prosseguir</a>
    </div>
    {{else:}}
    <!-- <div class="form-group">
        <button class="btn btn-warning" disabled>Habilite-se para Prosseguir</button>
    </div> -->
    {{pass}}   
</div>

<script>
    function checkBoxLimitEleitor(eleitor) {
        let checkedcount = contaHabilitacao();
        let limit = {{=eleicao.segmentos}};
        if (checkedcount > limit) {
            alert("Você pode votar em apenas  " + limit + " segmento(s)");			
            eleitor.checked=false;			
            return false
                    
        } 
        toggleSelecao();
        
    }
    function checkBoxLimitCandidato(candidato) {
        // alert(value);


        var checkBoxGroup = document.querySelectorAll('.candidato');			
        var limit = {{=eleicao.segmentos_candidatura}};
        var checkedcount = 0;
        for (var i = 0; i < checkBoxGroup.length; i++) {

            checkedcount += (checkBoxGroup[i].checked) ? 1 : 0;
        }
        // alert(checkedcount + " " + limit);
        if (checkedcount > limit) {
                    console.log("You can select maximum of " + limit + " checkboxes.");
                    alert("Você pode candidatar-se em apenas  " + limit + " segmento(s)");						
                    candidato.checked = false;

        } else{
            let checkedcount = contaHabilitacao();
            var eleitor = document.getElementById('eleitor_'+candidato.value);
            if (checkedcount >= limit) {

                    
                    if (eleitor.checked == false){
                        alert("Você pode votar  em apenas  " + limit + " segmentos. e precisa votar no segmento em que é candidato. Desmarque outro segmentos para habilitar a votação e candidatura neste segmento.");	
                        candidato.checked = false;
                        
                    }

                

            } else {
                
                // alert(eleitor.value);
                checkBoxLimitEleitor(eleitor); 
                eleitor.checked=true;  
            }
 
        }
                    
		toggleSelecao();
    } 
    function contaHabilitacao(){
        let checkBoxGroup = document.querySelectorAll('.eleitor');	

        let checkedcount = 0;
        for (let i = 0; i < checkBoxGroup.length; i++) {
            checkedcount += (checkBoxGroup[i].checked) ? 1 : 0;
        }        
        return checkedcount;
    }

    function toggleSelecao(){
        let checkedcount = contaHabilitacao();
        // alert(checkedcount);
        if (checkedcount >=1) {
            document.getElementById('selecionar').disabled=false;
        } else {
            document.getElementById('selecionar').disabled=true;
        }
    }

    window.onload = function(){
        let limit = {{=eleicao.segmentos or 0}};
        if (limit == 0) {
            let checkBoxGroup = document.querySelectorAll('.eleitor');	
            for (let i = 0; i < checkBoxGroup.length; i++) {
                checkBoxGroup[i].checked = true;
            } 
            toggleSelecao();                   
        }
        
    }
</script>


