<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {{if request.function=='index':}}
        <li class="breadcrumb-item active" aria-current="page">Home</li>
        {{else:}}
        <li class="breadcrumb-item"><a href="{{=URL(c='habilitar_eleitor', f='index')}}{{='?eleicao=%s'%request.vars.eleicao if request.vars.eleicao else ''}}">Home</a></li>
        {{pass}}
        


        {{if request.function=='cargos':}}
        <li class="breadcrumb-item">Segmento de Atuação</li>
        {{else:}}
        <li class="breadcrumb-item"><a href="{{=URL(c='habilitar_eleitor', f='cargos')}}{{='?eleicao=%s'%request.vars.eleicao if request.vars.eleicao else ''}}">Segmento de Atuação</a></li>
        {{pass}}

        {{if request.function=='documentos':}}
        <li class="breadcrumb-item">Documentos</li>
        {{else:}}
        <li class="breadcrumb-item"><a href="{{=URL(c='habilitar_eleitor', f='documentos')}}{{='?eleicao=%s'%request.vars.eleicao if request.vars.eleicao else ''}}{{='&cargo=%s'%request.vars.cargo if request.vars.cargo else ''}}">Documentos</a></li>
        {{pass}}

    </ol>
</nav>