{{extend 'layout.html'}}
{{include 'habilitar_eleitor/header.html'}}

{{include 'habilitar_eleitor/crumbs.html'}}

<div class="container">
    <div class="alert alert-warning">
        
        <strong>Dica!</strong><br>
        <p>Anexe ou atualize os documentos solicitados abaixo! </p>
        <p>Confira abaixo se o documento a ser enviado deve ser da entidade ou da pessoa física/representante legal.</p>
        <p>Os documentos devem estar em um dos formatos .pdf, .png ou .jpg/jpeg e ter no máximo 10MB</p>
        <p>Anexe um documento por vez e após anexar toda a documentação, clique em Enviar no final da página</p>
    </div>
    
    {{
        query = db.entidade.representante_legal==auth.user_id
        entidades = db(query).select()   
        
       
        
}}
        
        
        <br>
        

    {{liberado = True 
        for form in documentos:
            if form.custom.inpval.status=='nao_enviado':
                liberado=False
                pass}}
 
    
    
    <div class="card card">
        <div class="card-header">
            {{tipo = db.tipo_documento(form.custom.inpval.tipo_arquivo)}}
            {{=tipo.tipo}} ({{=tipo_eleitor[tipo.relativo_a]}}) <br> | 
                <span class="{{=status_documento_ico[form.custom.inpval.status]}}"><b> {{=status_documento[form.custom.inpval.status]}}</b> </span>
        </div>
    </div>
    <div class="card-body">
        {{=form.custom.begin}}
        {{
            # Preciso garantir que usuário poderá modificar seus documentos somente dentro do prazo
            from datetime import datetime, timedelta
            corrigir = form.vars.modified_on or request.now - timedelta(days=eleicao.prazo_correcao_documentos)
            esgotado = corrigir > request.now or request.now >= eleicao.inicio_eleicao

        }}        
        {{if form.custom.inpval.status=='rejeitado':}}
        <div class="form-group alert alert-warning">
            <label><strong>Motivo da rejeição:</strong></label>
            <p class="text-danger">{{=form.custom.inpval.observacoes}}</p>
            
        </div>
        {{if esgotado:}}
        <div class="form-group">
            {{=form.custom.delete}}
            <label>Marque para apagar este arquivo</label>
        </div>
        {{pass}}
        
        {{pass}}

        <div class="form-group">
            <div class="input-group">
                {{if form.custom.inpval.status in ["aprovado"] or esgotado:}}
                <a class="btn btn-success" target="_blank" href="{{=URL('comite','download', args=form.custom.inpval.arquivo)}}">Ver arquivo</a>
                {{elif form.custom.inpval.status in ["rejeitado"] or not esgotado:}}
                {{=form.custom.widget.arquivo}}
                {{pass}}                
            </div>
        </div>
        
        {{ # }}
        {{if form.custom.inpval.status!='aprovado' or esgotado:}}
        <div class="form-group">
        {{=form.custom.submit}}
        </div>
        {{pass}}
        {{=form.custom.end}}
    </div>
    {{pass}}
</div>
{{if liberado:}}
<form method="POST" action="{{=URL('habilitar_eleitor', 'habilitar'
    , vars=request.vars)}}" enctype="multipart/form-data">

<div class="form-group center">
    <button type="submit" class="btn btn-success" style="width: 30%;">ENVIAR</button>
</div>
{{else:}}
<div class="form-group">
    <button class="btn btn-warning" disabled>Anexe todos os documentos para finalizar!</button>
</div>
{{pass}}

</form>