{{extend 'layout.html'}}
<div class="jumbotron">
    <h1 class="text-center">Cadastro de Habilitação</h1>
    <p class="text-center">Eleição: <strong class="text-info">{{=eleicao.nome}}</strong> </p>
    <h3 class="text-center">Entidade da eleição: <strong class="text-info">{{=eleicao.entidade.nome.upper()}}</strong> </h3>
    
</div>


{{include 'habilitar_eleitor/crumbs.html'}}

<div class="container">
    <div class="card">
        <div class="card-header">
            <h3> Selecione uma entidade</h3>
        </div>
        <div class="card-body">
            <div class="alert alert-warning">
                <p>Dica: Escolha uma entidade a qual esteja filiado ou seja o representante legal.</p>
                <p><a class="btn btn-primary" 
                    href="{{=URL('habilitar_eleitor', 'form_entidade')}}" 
                    data-w2p_disabe_with="default" 
                    data-w2p_target="entidades" 
                    data-w2p_method="POST">
                     <strong>Se não cadastre uma!</strong></a></p>
            </div>
        
        <form id="form-pesquisa" class="form-inline" method="POST" accept="{{=URL('assistente_cadastro', 'entidades')}}">
    <div class="form-group">
        <input type="text" name="q" class="form-control" placeholder="Nome da entidade" />
        <span class="btn-group">
            <button class="btn btn-secondary">Procurar!</button>
        </span>
    </div>
  </form>
<br>
{{if not entidades:}}
<div class="alert alert-info">
<strong>Nenhuma entidade encontrada!</strong>
<!-- <p>Tente pesquisar novamente ou <a href="">cadastre uma</a>.</p> -->
</div>
{{else:}}
{{
    eleitor = db.eleitor(db.eleitor.eleitor==auth.user_id)    
    habilitacao = db((db.habilitacao.eleitor==eleitor.id) 
    & (db.habilitacao.cargo==request.vars.cargo) ).select().first() }}
{{for entidade in entidades:}}

<a id="entidade-{{=entidade.id}}" href="{{=URL('habilitar_eleitor', 'habilitar'
, vars=dict(cargo=request.vars.cargo, eleicao=request.vars.eleicao
, mode=request.vars.mode, entidade=entidade.id))}}">{{=entidade.nome.upper()}}</a>
{{if habilitacao and habilitacao.entidade_representada==entidade.id:}} - Selecionado {{pass}}
<br>

{{pass}}
{{pass}}


</div>
</div>
</div>
