{{extend 'layout.html'}}
<div class="jumbotron">
    <h1 class="text-center">Processo finalizado!</h1>
    <h2 class="text-center">Agradecemos sua participação</h2>
    <p>Sua inscrição foi concluída para o processo eleitoral {{=db.eleicao(request.vars.eleicao).nome}} </p>
    <p>Foi enviado um email de confirmação. </p>
    <p>Agora, você só precisa aguardar que os dados enviados sejam analisados pela Comissão Eleitoral, e você receberá um email com o resultado</p>
    <p class="text-center">
    <a href="{{=URL(c='default', f='index')}}" class="btn btn-success" >VOLTAR À TELA INICIAL!</a></p>
</div>
