
<!-- <div class="modal fade show" id="form-entidade" tabindex="-1" aria-labelledby="form-entidadeLabel" aria-modal="true" style="display:  block; overflow: scroll;"> -->
    <!-- <div class="modal-dialog" data-spy="scroll" > -->
      <!-- <div class="modal-content"> -->
        <!-- <div class="modal-header"> -->
          <h5 class="modal-title" id="form-entidadeLabel">Cadastre uma entidade</h5>
          {{=aviso_obrigatorio}}
          <p style='color:red;'>Somente o representante legal deve cadastrar a entidade</p> 
          <!-- <a type="button" class="close" data-dismiss="modal" aria-label="Close" data-w2p_method="POST" data-w2p_disable_with="default" data-w2p_target='entidades' href="{{=URL('assistente_eleicao', 'entidades')}}">
            <span aria-hidden="true">&times;</span> -->
          <!-- </a> -->
        <!-- </div> -->
        <!-- <div class="modal-body"> -->
        {{=form}}
        <!-- </div> -->
        <div class="modal-footer">
          <a type="button" class="btn btn-secondary" data-w2p_method="POST" data-w2p_disable_with="default" data-w2p_target='entidades' href="{{=URL('assistente_eleicao', 'entidades')}}" >Fechar</a>
        </div>
      <!-- </div> -->
    <!-- </div> -->
  <!-- </div> -->