<div class="jumbotron">
    <h1 class="text-center">{{if request.function == 'index':}} Cadastro para Eleição 
        {{elif request.function == 'cargos':}} 
            {{if entidade:}}
            Seleção de Segmentos de Atuação
            {{else:}}
            Cadastre ou selecione sua entidade
            {{pass}}
        {{elif request.function == 'documentos':}}
        Documentação exigida
        {{pass}} </h1>
    <p class="text-center">Órgão Colegiado da eleição: <strong class="text-info">{{=eleicao.entidade.nome.upper()}}</strong> </p>
    <h3 class="text-center">Eleição: <strong class="text-info">{{=eleicao.nome}}</strong> </h3>
    {{
        nao_habilitado = db((db.habilitacao.eleitor==auth.user_id) & (db.habilitacao.eleicao==eleicao.id) & (db.habilitacao.status=='rejeitado')).select()
        nao_candidato = db( (db.candidato.candidato==auth.user_id) & (db.candidato.eleicao==eleicao.id) & (db.candidato.status=='rejeitado')).select()
    }}
    {{if nao_candidato or nao_habilitado :}}
    <div class="alert alert-danger">
        <p><strong>Atenção!</strong> Você possui pendencias em sua habilitação, cheque seus Documentos e confira seu email de cadastro.</p>
    </div>
    {{pass}}
</div>