{{extend 'layout.html'}}
{{include 'habilitar_eleitor/header.html'}}

{{include 'habilitar_eleitor/crumbs.html'}}

    
{{if inscrito and inscrito.status == "aprovado":}}
{{e = inscrito}}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h4>{{=e.entidade_representada.nome if e.entidade_representada else e.eleitor.first_name}}  </h4>
                
            <p>Habilitado para votar nos Segmento(s): 
                {{=",".join([h.cargo.nome for h in db((db.habilitacao.eleitor == e.eleitor) & (db.habilitacao.eleicao==eleicao.id)).select()]) }} </p> 
            {{if candidaturas:}}
                {{e = candidaturas[0]}}
                <h4>{{=e.entidade.nome.upper() if e.entidade else e.eleitor.first_name.upper()}}  </h4>    
                <p>Candidatura  nos Segmento(s): 
                    {{for h in candidaturas:}}
                        {{=h.cargo.nome}} {{=h.cargo.status}} <br>
                    {{pass}}</p> 
            {{pass}}
        </div>
    </div>
</div>
<br>
{{elif inscrito and inscrito.status == "inscricao_solicitada":}}
{{e =inscrito}}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h4>{{=e.entidade_representada.nome if e.entidade_representada else e.eleitor.first_name}}  </h4>
                
            <p>Habilitação para votar nos Segmento(s): 
                {{for h in habilitacoes:}}<br>
                {{=h.cargo.nome}} - {{=status_habilitacao[h.status]}}
            {{pass}}
                            {{if candidaturas:}}
                {{e = candidaturas[0]}}
                <h4>{{=e.entidade.nome.upper() if e.entidade else e.eleitor.first_name.upper()}}  </h4>    
                <p>Candidaturas:
                    {{for c in candidaturas:}}<br>
                        {{=c.cargo.nome}} - {{=status_candidatura[c.status]}}
                    {{pass}}
                         </p> 
            {{pass}}
        </div>
    </div>
</div>
<br>


{{pass}}


<div class="container">
    <div class="card">
        <div class="card-header">
            {{ if eleicao.tipo_eleitor == 'entidade' and eleicao.tipo_candidato == 'entidade': }}
            <p>Nesta eleição somente entidades podem votar ou ser candidatas. Somente o representante legal pode fazer o cadastro da entidade</p> 
            <h3> Confira os dados de cadastro do representante legal</h3>
            {{else:}}
            <h3> Confira os seus dados de cadastro</h3>

            {{pass}}
        </div>
        <div class="card-body">
        {{=form}}
        </div>
    </div>
</div>
