{{extend 'layout.html'}}
{{
    eleicao = candidato.eleicao
    cargo = candidato.cargo
}}
{{include 'comite/header.html'}}

{{include 'comite/crumbs.html'}}

<div class="container">
    <div class="alert alert-warning">
        <p><strong>Segmento a que se candidatou:</strong> {{=cargo.nome}}</p>
        <strong>Dica!</strong><br>
        Clique em ver Arquivo para fazer a análise e depois selecione um status.
        <p>
        NOTA! O status rejeitado precisa obrigatoriamente de observações para que os documentos possam ser corrigidos.
        </p>    
        <p> Após avaliar todos os documentos, clique em finalizar ao final da página </p>  
        </div>
    

    {{for form in documentos:}}
    
    {{
    liberado = True    
    if form.custom.inpval.status=='nao_enviado':
    liberado=False
    pass}}
    
    
    <div class="card card">
        <div class="card-header">
            {{tipo = db.tipo_documento(form.custom.inpval.tipo_arquivo)}}
            {{=tipo.tipo}} ({{=tipo.relativo_a}}) | 
                <span class="{{=status_documento_ico[form.custom.inpval.status]}}"><b>{{=status_documento[form.custom.inpval.status]}}</b></span>
        </div>
        <div class="card-body">
            {{=form.custom.begin}}
            <div class="form-group">
                <div class="input-group">
                    {{if form.custom.inpval.arquivo:}}
                    <a class="text-success" target="_blank" href="{{=URL('comite','download', args=form.custom.inpval.arquivo)}}">Ver arquivo</a>
                    {{pass}}
                </div>
            </div>
            <div class="form-group">
                <label>Status: </label>
                {{if form.custom.inpval.status !="aguardando_aprovacao":}}
                    <span class="{{=status_documento[form.custom.inpval.status]}}">{{=status_documento[form.custom.inpval.status]}}</span>            
                {{else:}}
                <select class="generic-widget form-control" id="documentos_status" name="status" rowid="{{=form.custom.dspval['id']}}" onchange="obrigaJustificar(this);">
                    <option value=""></option>
                    <option {{if form.custom.inpval.status == "aguardando_aprovacao":}} selected="selected" {{pass}} value="aguardando_aprovacao">Aguardando Análise</option>
                    <option {{if form.custom.inpval.status == "rejeitado":}} selected="selected" {{pass}} value="rejeitado">Rejeitado</option>
                    <option {{if form.custom.inpval.status == "aprovado":}} selected="selected" {{pass}} value="aprovado">Aprovado</option>
                </select>

                {{pass}}
    
                
            </div>
            <div class="form-group">
                <label id="label_observacao_{{=form.custom.dspval['id']}}">Descreva os motivos da rejeição:  </label>
                {{=form.custom.widget.observacoes or ''}}
            </div>

            <div class="form-group">
                <label>Última modificação: </label>
                {{=form.custom.inpval.modified_on}} por {{=form.custom.inpval.modified_by.first_name if form.custom.inpval.modified_by else ""}}
            </div>
            <div class="form-group">
            {{if form.custom.widget.status not in ["nao_enviado", "rejeitado", "aprovado"]:}}
            
            <div class="form-group">
            
                <input class="btn btn-primary" id="submit_button" type="submit" value="Registrar Avaliação do Documento">
                
                </div>
            {{pass}}
            </div>
            {{=form.custom.end}}
        </div>
    </div>
    
    {{pass}}
    <br>
    <div class="form-group center">
        {{if candidato.status in ["rejeitado", "inscricao_solicitada"]:}}
        <a href="{{=URL('comite', 'checar_candidato', args=[candidato.id, 'finalizar'])}}" class="btn btn-success"style="width:30%" >FINALIZAR</a>
        {{else:}}
        <a href="{{=URL('comite', 'index', args=candidato.cargo.eleicao)}}" class="btn btn-success">Voltar</a>
        {{pass}}
    </div>
</div>

<script>
    const textarea = document.querySelector("textarea");

    textarea.addEventListener("input", event => {
        const target = event.currentTarget;
        const minLength = target.getAttribute("minlength");
        const currentLength = target.value.length;

        if (currentLength >= minLength) {
            document.getElementById("submit_button").disabled=false;
        }
        
        
    });


    // let status = document.getElementById("documentos_status");
    // status.addEventListener("change", obrigaJustificar);
    function obrigaJustificar(status){
        if (status.value == 'rejeitado'){
            let rowid = status.getAttribute('rowid');
            let labeltextarea = document.getElementById("label_observacao_"+rowid);
            labeltextarea.innerHTML = "Descreva os motivos da rejeição *:";
            let textarea = document.getElementById("documentos_observacoes");
            let v = textarea.value.length;
            // alert(v);
            if (v < 10){
                document.getElementById("submit_button").disabled=true;
            }

            textarea.setAttribute('minlength',10);
        } else{
            document.getElementById("submit_button").disabled=false;
        }
        // alert('pegou '+ status.value);
    }
</script>