{{
    if 'candidato' in globals():
        eleicao_id = candidato.cargo.eleicao
    elif 'habilitacao' in globals():
        eleicao_id = habilitacao.cargo.eleicao
    else:
        eleicao_id = request.args(0)
    pass
}}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {{if request.function=='index':}}
        <li class="breadcrumb-item active" aria-current="page">Home</li>
        {{else:}}
        <li class="breadcrumb-item"><a href="{{=URL(c='comite', f='index', args=eleicao_id)}}">Home</a></li>
        {{pass}}
        
        <!-- {{if request.function=='entidades':}}
        <li class="breadcrumb-item">Entidades</li>
        {{else:}}
        <li class="breadcrumb-item"><a href="{{=URL(c='habilitar_eleitor', f='entidades')}}{{='?eleicao=%s'%request.vars.eleicao if request.vars.eleicao else ''}}">Entidade</a></li>
        {{pass}} -->

        {{if request.function!='index':}}
        <li class="breadcrumb-item">{{=request.function.upper()}}</li>
        {{pass}}
    </ol>
</nav>