{{extend 'layout.html'}}
<div class="jumbotron">
    <h3 class="text-center">Administração da comissão eleitoral</h3>
    <p class="text-center">Aqui você pode visualizar todas as eleições em que você é membro da comissão eleitoral</p>
</div>

<table class="table table-hovered table-striped table-bordered">
    <tr>
        <th>Nome da eleição</th>
        <th>Órgão Colegiado organizador</th>
        <th></th>
    </tr>
    {{for l in lista:}}
    <tr>
        <td>{{=l.nome}}</td>
        <td>{{=l.entidade.nome.upper()}}</td>
        <td><a href="{{=URL('comite', 'index', args=l.id)}}">Ver</a></td>
    </tr>
    {{pass}}
</table>

{{
#=rows
}}