<div class="jumbotron">
    <h1 class="text-center">Comissão Eleitoral | Análise dos Documentos de Habilitação</h1>
    <p class="text-center">Órgão colegiado da eleição: <strong class="text-info">{{=eleicao.entidade.nome}}</strong> </p>
    <p class="text-center">Eleição: <strong class="text-info">{{=eleicao.nome}}</strong> </p>
    {{if "candidato" in globals():}}
    <h3 class="text-center"> <strong>Candidato:</strong> {{=candidato.entidade.nome if candidato.entidade else candidato.candidato.first_name}}</h3>
    {{elif "eleitor" in globals():}}
    <h3 class="text-center"> <strong>Eleitor:</strong> {{=eleitor.entidade_representada.nome if eleitor.entidade_representada else eleitor.eleitor.first_name}}</h3>
    {{pass}}
</div>