{{extend 'layout.html'}}
{{include 'comite/header.html'}}

{{include 'comite/crumbs.html'}}
<div class="container">

    <div class="card-header alert-success mb-5">
        <h3><a href="{{=URL(c='comite',f='recursos',args=[eleicao.id],user_signature=True)}}" >VER RECURSOS</a></h3>
    </div>

{{ if eleicao.fim_eleicao < datetime.now():}}

<div class="card-header alert-success mb-5">
    <h3><a href="{{=URL(f='resultados',vars=dict(esta_eleicao=eleicao.id))}}" >VER VOTAÇÃO</a></h3>
</div>
{{pass}}


            {{include "comite/lista_eleitor.html"}}


            {{include "comite/lista_candidato.html"}}

</div>
