<div class="card">
    <div class="card-header alert-success">
        <h3>CANDIDATOS</h3>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h4 class="text-center">A analisar</h4>
            <div class="card-body">
                <div class="list-group">
                    {{for e in candidatos:}}
                    <div class="list-group-item">
                        <h4>{{=e.entidade.nome.upper() if e.entidade else e.candidato.first_name.upper()}} {{#=e.eleitor.last_name.upper() or
                            ''}}</h4>
                        <p>Segmento: {{=e.cargo.nome}} <br> <span style="color:red;">{{=status_candidatura[e.status]}}
                            </span> </p>

                        <p>
                            <a href="{{=URL('comite', 'checar_candidato', args=e.id)}}"
                                class="btn btn-default">Checar</a>
                        </p>
                    </div>
                    {{pass}}
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <h4 class="text-center">Rejeitados</h4>
            <div class="card-body">
                <div class="list-group">
                    {{for e in candidatos_rejeitados:}}
                    <div class="list-group-item">
                        <h4>{{=e.entidade.nome.upper() if e.entidade else e.candidato.first_name.upper()}} {{#=e.eleitor.last_name.upper() or
                            ''}}</h4>
                        <p>Segmento: {{=e.cargo.nome}} <br> <span style="color:red;">{{=status_candidatura[e.status]}}
                            </span> </p>

                        <p>
                            <a href="{{=URL('comite', 'checar_candidato', args=e.id)}}"
                                class="btn btn-default">Checar</a>
                        </p>
                    </div>
                    {{pass}}
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <h4 class="text-center">Aprovados</h4>
            <div class="card-body">
                <div class="list-group">
                    {{for e in candidatos_aprovados:}}
                    <div class="list-group-item">
                        <h4>{{=e.entidade.nome.upper() if e.entidade else e.candidato.first_name.upper()}}</h4>
                        <p>Segmento: {{=e.cargo.nome}} <br> <span style="color:red;">{{=status_candidatura[e.status]}}
                            </span> </p>

                        <p>
                            <a href="{{=URL('comite', 'checar_candidato', args=e.id)}}"
                                class="btn btn-default">Checar</a>
                        </p>
                    </div>
                    {{pass}}
                </div>

            </div>
        </div>
    </div>
</div>