<div class="card">
    <div class="card-header alert-success">
        <h3>ELEITORES</h3>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h4 class="text-center">A analisar</h4>
            <div class="card-body">
                <div class="list-group">
                    {{for e in eleitores:}}
                    <div class="list-group-item">
                        <h4>{{=e.entidade_representada.nome if e.entidade_representada else e.eleitor.first_name}} </h4>

                        <p>Segmento(s): {{=",".join([h.cargo.nome for h in db((db.habilitacao.eleitor == e.eleitor) &
                            (db.habilitacao.eleicao==request.args(0))).select()]) }}
                            <br> <span style="color:red;">{{=status_habilitacao[e.status]}} </span>
                        </p>
                        <p>
                            <a href="{{=URL('comite', 'checar_eleitor', args=e.id)}}" class="btn btn-default">Checar</a>
                        </p>
                    </div>
                    {{pass}}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h4 class="text-center">Rejeitados</h4>
            <div class="card-body">
                <div class="list-group">
                    {{for e in eleitores_rejeitados:}} <div class="list-group-item">
                        <h4>{{=e.entidade_representada.nome if e.entidade_representada else e.eleitor.first_name}} </h4>
                        <p>Segmento(s): {{=",".join([h.cargo.nome for h in db((db.habilitacao.eleitor == e.eleitor) &
                            (db.habilitacao.eleicao==request.args(0))).select()]) }}
                            <br> <span style="color:red;">{{=status_habilitacao[e.status]}} </span>
                        </p>
                        <p>
                            <a href="{{=URL('comite', 'checar_eleitor', args=e.id)}}" class="btn btn-default">Checar</a>
                        </p>
                    </div>

                    {{pass}}
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <h4 class="text-center">Aprovados</h4>
            <div class="card-body">
                <div class="list-group">
                    {{for e in eleitores_aprovados:}}
                    <div class="list-group-item">
                        <h4>{{=e.entidade_representada.nome if e.entidade_representada else e.eleitor.first_name}} </h4>

                        <p>Segmento(s): {{=",".join([h.cargo.nome for h in db((db.habilitacao.eleitor == e.eleitor) &
                            (db.habilitacao.eleicao==request.args(0))).select()]) }}
                            <br> <span style="color:red;">{{=status_habilitacao[e.status]}} </span>
                        </p>
                        <p>
                            <a href="{{=URL('comite', 'checar_eleitor', args=e.id)}}" class="btn btn-default">Checar</a>
                        </p>
                    </div>
                    {{pass}}
                </div>

            </div>
        </div>
    </div>
</div>