{{extend 'layout.html'}}

<h1>Análise de Recurso da Eleição {{=eleicao.nome.upper()}}</h1>
<span>*Você poderá anexar documentos  após o cadastro inicial</span>
<div class="row">
    <div class="col-6 border border-primary p-2" >
        <h2>Recurso</h2>
        {{=form}}
    </div>
    <div class="col-6 border border-primary p-2" >
        <h2>Documentos</h2>
    {{=form1}}
</div>
</div>

<div class="row">
    <div class="col-12 border border-primary p-2" >
        <h2>Resposta</h2>
        {{=form2}}
        <hr>
        <h3>Adicionar resposta</h3>
        {{=form3}}
    </div>
</div>