{{extend 'layout.html'}}
<div class="jumbotron">
    <h1 class="text-center">Cadastro de Eleição | Segmentos de Atuação</h1>
    <h3 class="text-center">Órgão Colegiado: <strong class="text-info">{{=entidade.nome.upper()}}</strong> </h3>
    <h3 class="text-center">Título: <strong class="text-info">{{=eleicao.nome}}</strong> </h3>
    
</div>

{{include 'assistente_eleicao/crumbs.html'}}

<div class="container">
    <div class="alert alert-warning">
        <strong>Dica!</strong><p>
        Nesta etapa, você precisará cadastrar todos os segmentos que serão disputados.
    </p>
    </div>
    <div class="form-group">
    <a class="btn btn-primary" 
    id="btn-cadastrar-cargo"
    href="{{=URL('assistente_eleicao', 'cargos', vars=dict(mode='form', eleicao=request.vars.eleicao, entidade=request.vars.entidade))}}" 
    data-w2p_disabe_with="default" 
    data-w2p_target="cargos" 
    data-w2p_method="POST">
     <strong>CADASTRAR SEGMENTO DE ATUAÇÃO</strong></a>
    </div>

    <div id="cargos" class="form-group">
    {{=LOAD("assistente_eleicao", "cargos", vars=dict(mode='list', entidade=entidade, eleicao=request.vars.eleicao))}}
        
    </div>

    <div class="form-group">
        <a href="{{=URL('assistente_eleicao', 'comite', vars=request.vars)}}" id="btn-prosseguir" class="btn btn-primary">Prosseguir</a>
    </div>
</div>

<script type="text/javascript">
    $("form").submit(function(){
        
        event.preventDefault();
        console.log($(this).attr('action'));
        $.post(
            $(this).attr('action'), 
            $(this).serialize(), 
            function(data){
                $("#cargos").html(data);
        });
        
    });
</script>