<div class="list-group">
    {{for l in lista:}}
    <div class="list-group-item">
        <h4>{{=l.nome}}</h4>


        <p>Número de Cadeiras: {{=l.cadeiras or ""}}</p>

        <p> 
            <a href="{{=URL('assistente_eleicao', 'cargos', vars=dict(cargo=l.id, mode='form', entidade=request.vars.entidade, eleicao=request.vars.eleicao))}}" data-w2p_target='cargos' data-w2p_method="POST" class="link">Editar</a> 
            | <a id="btn-cadastrar-cargo" href="{{=URL('assistente_eleicao', 'excluir_cargo', vars=dict(cargo=l.id, mode='form', entidade=request.vars.entidade, eleicao=request.vars.eleicao))}}" )}}" data-w2p_remove=".list-group-item" data-w2p_disable_with="default" data-w2p_target='cargos' data-w2p_method="POST">Excluir</a>
        </p>
    </div>
    {{pass}}
</div>