{{extend 'layout.html'}}
<div class="jumbotron">
    <h1 class="text-center">Cadastro de  Eleição | Comissão Eleitoral</h1>
    <h3 class="text-center">Órgão Colegiado: <strong class="text-info">{{=entidade.nome.upper()}}</strong> </h3>
    <h3 class="text-center">Título: <strong class="text-info">{{=eleicao.nome}}</strong> </h3>
    
</div>

{{include 'assistente_eleicao/crumbs.html'}}  

<div class="container">
    <div class="alert alert-warning">
        <strong>Dica!</strong><p>
        Nessa etapa, você precisará adicionar os membros da Comissão Eleitoral.
    </p>
    </div>
    
    <form action="{{=URL('assistente_eleicao', 'comite', vars=dict(eleicao=request.vars.eleicao)) }}" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <div class="list-group">
                {{for l in lista:}}
                <div class="list-group-item">
                    <h4><input type="checkbox" name="habilitado" value={{=l.id}} {{="checked" if auth.has_membership(grupo, l.id) else ""}}  /> {{=l.first_name}} ({{=l.id}})</h4>
                </div>
                {{pass}}
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Prosseguir</button>
        </div>
    </form>
    
    </div>

    
</div>