<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {{if request.function=='index':}}
        <li class="breadcrumb-item active" aria-current="page">Home</li>
        {{else:}}
        <li class="breadcrumb-item"><a href="{{=URL(c='assistente_eleicao', f='index')}}">Home</a></li>
        {{pass}}
        {{if request.function=='dados_eleicao':}}
        <li class="breadcrumb-item">Dados Eleição</li>
        {{else:}}
        <li class="breadcrumb-item"><a href="{{=URL(c='assistente_eleicao', f='dados_eleicao')}}{{='?eleicao=%s'%request.vars.eleicao if request.vars.eleicao else ''}}">Dados Eleição</a></li>
        {{pass}}

        {{if request.function=='documentos':}}
        <li class="breadcrumb-item">Documentos</li>
        {{else:}}
        <li class="breadcrumb-item"><a href="{{=URL(c='assistente_eleicao', f='documentos')}}{{='?eleicao=%s'%request.vars.eleicao if request.vars.eleicao else ''}}">Documentos</a></li>
        {{pass}}

        {{if request.function=='cargos':}}
        <li class="breadcrumb-item">Segmentos</li>
        {{else:}}
        <li class="breadcrumb-item"><a href="{{=URL(c='assistente_eleicao', f='cargos')}}{{='?eleicao=%s'%request.vars.eleicao if request.vars.eleicao else ''}}{{='&cargo=%s'%request.vars.cargo if request.vars.cargo else ''}}">Segmento de atuação</a></li>
        {{pass}}

        {{if request.function=='comite':}}
        <li class="breadcrumb-item">Comissão</li>
        {{else:}}
        <li class="breadcrumb-item"><a href="{{=URL(c='assistente_eleicao', f='comite')}}{{='?eleicao=%s'%request.vars.eleicao if request.vars.eleicao else ''}}">Comissão Eleitoral</a></li>
        {{pass}}

    </ol>
</nav>