{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<div class="jumbotron">
    <h1 class="text-center">Cadastro de Eleição | Dados da Eleição</h1>
    <h3 class="text-center">Órgão colegiado da eleição: <strong class="text-info">{{=entidade.nome}}</strong></h3>
    
</div>

{{include 'assistente_eleicao/crumbs.html'}}

<div class="container">
    <div class="alert alert-warning">
        <strong>Dica!</strong><p>
        Preencha todos as informações relacionadas a esta eleição.
        Atenção:
        Documentos requeridos em geral: campo que determina quais os documentos em comum serão exigidos dos candidatos e dos eleitores.
    </p>
    </div>
<h5>Dados da eleição</h5>

{{=form}}
</div>