{{extend 'layout.html'}}

<div class="jumbotron">
    <h1 class="text-center">Cadastro de Eleição | Documentos</h1>
    <h3 class="text-center">Órgão Colegiado da eleição: <strong class="text-info">{{=entidade.nome.upper()}}</strong> </h3>
    
</div>

{{include 'assistente_eleicao/crumbs.html'}}

<div class="container">
    <div class="alert alert-warning">
        <strong>Dica!</strong><p>
        Os documentos aqui serão exigidos a TODOS OS CANDIDATOS a qualquer segmento de atuação nesta eleição.</p>
    </div>

    {{=form.custom.begin}}
    <div class="form-group">
        {{for f in form.custom.widget.documentos_requeridos_cargo:}}
        <p> {{=f}}</p>
        {{pass}}
    </div>
    <div class="input-group">
        {{=form.custom.submit}}
    </div>
    {{=form.custom.end}}
</div>

