<div class="card">
    <div class="card-header">
        <h5 class="modal-title" id="form-entidadeLabel">Cadastre os documentos para candidato</h5>
    </div>
    <div class="card-body">
        <p class="card-text">
            Tipo de eleitor: {{=cargo.tipo_eleitor}}

        </p>
        <p class="card-text">
            <ul><strong>Documentos exigidos de todos</strong>
              {{for d in eleicao.obrigatorio or []:}}
              <li>{{="%(tipo)s (%(relativo_a)s)" % d}}</li>
              {{pass}}
            </ul>
          </p>

          <p class="card-text">
            <ul><strong>Documentos exigidos do eleitor</strong>
              {{for d in cargo.documentos_requeridos_eleitor or []:}}
              <li>{{="%(tipo)s (%(relativo_a)s)" % d}}</li>
              {{pass}}
            </ul>
          </p>

        <p class="card-text">
            {{=form.custom.begin}}
            <div class="form-group">
              {{=form.custom.widget.documentos_requeridos_cargo}}
            </div>
            
            <div class="form-group">
                <a type="button" class="btn btn-warning" data-w2p_method="POST" data-w2p_disable_with="default" data-w2p_target='cargos' href="{{=URL('assistente_eleicao', 'docs_cargo_eleitor', vars=dict(cargo=request.vars.cargo, mode='form', eleicao=request.vars.eleicao))}}" >Voltar</a>
                {{=form.custom.submit}}
                <a type="button" class="btn btn-danger float-right" data-w2p_method="POST" data-w2p_disable_with="default" data-w2p_target='cargos' href="{{=URL('assistente_eleicao', 'cargos', vars=dict(mode='list', eleicao=request.vars.eleicao, entidade=request.vars.entidade))}}" >Fechar</a>
            </div>
            {{=form.custom.end}}
        </p>
    </div>
</div>    