<form id="form-pesquisa" class="form-inline" method="POST" accept="{{=URL('assistente_cadastro', 'entidades')}}">
    <div class="form-group">
        <input type="text" name="q" class="form-control" placeholder="Nome do órgão colegiado" />
        <span class="btn-group">
            <button class="btn btn-secondary">Procurar!</button>
        </span>
    </div>
  </form>

{{if not entidades:}}
<div class="alert alert-info">
<strong>Nenhum órgão colegiado encontrado!</strong>
<p>Tente pesquisar novamente ou    <a class="btn btn-primary" 
    href="{{=URL('assistente_eleicao', 'form_entidade')}}" 
    data-w2p_disabe_with="default" 
    data-w2p_target="entidades" 
    data-w2p_method="POST">
     <strong>CADASTRE</strong></a> um órgão colegiado.</p>
</div>
{{else:}}
{{for entidade in entidades:}}
<a id="entidade-{{=entidade.id}}" href="{{=URL('assistente_eleicao','dados_eleicao',vars=dict(entidade=entidade.id))}}">{{=entidade.nome.upper()}}</a><br>
{{pass}}
{{pass}}