{{extend 'layout.html'}}
<div class="jumbotron">
    <h1 class="text-center">Processo finalizado!</h1>
    <p class="text-center">
    <a href="{{=URL(c='default', f='eleicao')}}" class="btn btn-success" >VOLTAR À TELA DE ELEIÇÕES</a></p>
</div>
