  <div class="card">
    <div class="card-header">
      <h5 class="modal-title" id="form-entidadeLabel">Cadastre um segmento de atuação</h5>
    </div>
    <div class="card-body">
      
      <p class="card-text">
        {{=form.custom.begin}}
            <div class="form-group">
              <label>Nome do segmento:</label>
              {{=form.custom.widget.nome}}
            </div>


            

            <div class="form-group">
              <label>Cadeiras:</label>
              {{=form.custom.widget.cadeiras}}
              <label>({{=db.cargo.cadeiras.comment}})</label>
            </div>
            <div class="form-group">
                {{=form.custom.submit}}
                <a type="button" class="btn btn-danger float-right" data-w2p_method="POST" data-w2p_disable_with="default" data-w2p_target='cargos' href="{{=URL('assistente_eleicao', 'cargos', vars=dict(mode='list', eleicao=request.vars.eleicao, entidade=request.vars.entidade))}}" >Voltar</a>
            </div>
            {{=form.custom.end}}
        {{if request.args:}}
        <div class="row">
          <div class="col-md-6">
            <button >Adicione!</button>
            lista do eleitor
          </div>
          
          <div class="col-md-6">
            <button >Adicione!</button>
            lista do candidato
          </div>
        </div>
        {{pass}}
      </p>
    </div>
    
  </div>