{{extend 'layout.html'}}
<div class="jumbotron">
    <h1 class="text-center">Cadastro de Eleição</h1>
    <h3 class="text-center">Passo 1: Escolha ou <a class="btn btn-primary" 
        href="{{=URL('assistente_eleicao', 'form_entidade')}}" 
        data-w2p_disabe_with="default" 
        data-w2p_target="entidades" 
        data-w2p_method="POST">
         <strong>CADASTRE</strong></a> um órgão colegiado</h3>
    
</div>


{{include 'assistente_eleicao/crumbs.html'}}

<div class="container">
    
    <div id="entidades">
        
    {{=LOAD("assistente_eleicao", "entidades.html")}}
    </div>

</div>

<script type="text/javascript">
    $("#form-pesquisa").submit(function(){
        // alert($(this).action());
        event.preventDefault();
        
        $.post(
            "{{=URL('assistente_eleicao', 'entidades')}}", 
            $(this).serialize(), 
            function(data){
                $("#entidades").html(data);
        });
        
    });
</script>